article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body {
  font-family: sans-serif;
  background: #a2ff7e;;
  counter-reset: page;
}

.cover {
  position: absolute;
  top: 30%;
  right: 40px;
  font-size: 13px;
  letter-spacing: 30px;
  text-align: center;
}

.cover1 {
  font-family: 'Courier New', Courier, monospace;
  position: absolute;
  left: 40%;
  top: 55%;
   font-size: 8px;
   transform: rotate(25deg) skew(0deg);
   letter-spacing: 5px;
   break-after: page;
}

.date1 {
  position:absolute;
  right:10px;
  top: -42.5px;
}

.date2 {
  position:absolute;
  right:10px;
  top: -42.5px;
}

.date3 {
  position:absolute;
  right:10px;
  top: -42.5px;
}

.date4 {
  position:absolute;
  right:10px;
  top: -42.5px;
}

.date5 {
  position:absolute;
  right:10px;
  top: -42.5px;
}

.date6 {
  position:absolute;
  right:10px;
  top: -42.5px;
}

.date7 {
  position:absolute;
  right:10px;
  top: -42.5px;
}

.dream1 {
  font-size:10pt;
  letter-spacing: 15px;
  line-height: 15px;
  text-align: justify;
  text-justify: auto;
}

.dream2 {
  font-size:10pt;
  letter-spacing: 12px;
  line-height: 20px;
  text-align: justify;
  text-justify: auto;
  transform: rotate(-5deg)
  skew(-5deg);
}

.dream3 {
  top: 130px;
  font-size:10pt;
  letter-spacing: 10px;
  line-height: 18px;
  text-align: justify;
  text-justify: auto;
  break-after: page;
  transform:skew(60deg, -30deg) scaleY(.66667);
}

.dream4 {
  position: absolute;
  top: 30%;
  left: -50%;
  font-size:10pt;
  letter-spacing: 15px;
  line-height: 15px;
  text-align: justify;
  text-justify: auto;
  break-after: page;
  transform: rotate(90deg);
  width: 200%;
}

.dream5 {
  font-size: 10px;
  position: absolute;
  top:50%;
  left: 50%;
  transform: translate(-50%,-50%) skew(-8deg) rotate(10deg);
  break-before: page;
  letter-spacing: 30px;
}

.dream6 {
  font-size: 10px;
  line-height: 7px;
  position: absolute;
  top:40%;
  left: 60%;
  transform: translate(-50%,-50%) skew(10deg) rotate(-20deg);
  break-before: page;
  letter-spacing: 30px;
}

.dream7 {
  font-size: 10px;
  line-height: 7px;
  position: absolute;
  top:15%;
  left: 0%;
  transform:skew(0deg) rotate(15deg);
  letter-spacing: 10px;
  break-before: page;
}

.dream8 {
  font-size: 10px;
  line-height: 7px;
  position: absolute;
  top:35%;
  left: 0%;
  transform:skew(0deg) rotate(-15deg);
  letter-spacing: 10px;
}

.dream9 {
  font-size: 10px;
  line-height: 7px;
  position: absolute;
  top:55%;
  left: 0%;
  transform:skew(0deg) rotate(15deg);
  letter-spacing: 10px;
}

@media print {
  body {
    background: #a2ff7e;
  }
}

@page:first {
  @top-right {
  content: none;
  }}

  @page: last {
    @top-left {
    content: none;
    }}

@page {
  size: 4.75in 8in;
  bleed: 0.25in;
  marks: crop;
  margin-top: 0.7in;
  margin-bottom: 0.25in;
  
}
@page:left {
  margin-left: 0.25in;
  margin-right: 0.75in;
  @top-left {
    content: counter(page);
  }

}
@page:right {
  margin-left: 0.75in;
  margin-right: 0.25in;

@top-right {
  content: counter(page);
}
}

.coverimg {
  
  max-width: 100%;
  top:22%;
  left:0%;
  position: absolute;
  transform: rotate(30deg);
}
.d1 {
  max-width: 100%;
  top:22%;
  left:0%;
  position: relative;
  break-after: page;
  transform: rotate(5deg);
}

.d2 {
  max-width: 100%;
  height: auto;
  top:15%;
  left:0%;
  position: relative;
  break-after: page;
}

.d3 {
  max-width: 100%;
  height: auto;
  top:12%;
  left:5%;
  position: relative;
  break-after: page;
}

.d4 {
  max-width: 100%;
  height: auto;
  top:20%;
  left:3%;
  position: relative;
  break-before: page;
}

.d5 {
  max-width: 110%;
  height: auto;
  top:10%;
  left:-30px;
  position: relative;
  break-before: page;
}

.d6 {
  max-width: 110%;
  height: auto;
  top:10%;
  left:-30px;
  position: relative;
  break-before: page;
}

.d7 {
  max-width: 105%;
  height: auto;
  top:5%;
  left:-10px;
  position: relative;
  break-before: page;
}

.backcover {
  font-size: 13px;
  line-height: 15px;
  position: absolute;
  top:0%;
  right: 0%;
  break-before: page;
  width: 30%;
  text-align: justify;
}
